@import "tailwindcss";

:root {
  font-size: 16px;
  --background: #ffffff;
  --foreground: #1c1a17;
  --foreground-muted: #78766d;
  --foreground-secondary: #292524;
  --sidebar-bg: #044834;
  --main-bg: #fff6eb;
  --tooltip-bg: #1c1c20;
  --border: #e7e5e4;
  --active-nav-bg: rgba(233, 251, 197, 0.1);
  --input-caret: #16a34a;
  --input-bar-shadow: 0 2.77px 2.21px rgba(0,0,0,0.02), 0 6.65px 5.32px rgba(0,0,0,0.028), 0 12.52px 10.02px rgba(0,0,0,0.035), 0 22.34px 17.87px rgba(0,0,0,0.042), 0 41.78px 33.42px rgba(0,0,0,0.05), 0 100px 80px rgba(0,0,0,0.07);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-muted: var(--foreground-muted);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-main-bg: var(--main-bg);
  --color-tooltip-bg: var(--tooltip-bg);
  --color-border: var(--border);
  --color-input-caret: var(--input-caret);
  --font-sans: "Google Sans Flex", "Inter", "SF Pro Display", sans-serif;
  --font-mono: "JetBrains Mono", "SFMono-Regular", Menlo, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Google Sans Flex", "Inter", "SF Pro Display", sans-serif;
  font-weight: 400;
}
